@page "/employees"
@inject KuvioSampleProject.Data.IEmployeeService EmployeeService
@inject NavigationManager Navigation


<h1>Employees</h1>
<button type="button" class="btn btn-primary" id="add-employee-btn" aria-label="Add Employee" @onclick="@GoToAddEmployee">Add Employee</button>
<br/>
<br />
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Country</td>
            <td>Birthday</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in employees)
        {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.Country</td>
            <td>@employee.Birthday</td>

            <td><a href="employees/@employee.Id">Edit</a></td>
            <td><button class="btn btn-primary" id="delete-employee-btn" aria-label="Delete" @onclick="@(e => HandleDelete(employee.Id))">Delete</button></td>
        </tr>

        }
    </tbody>
</table>

@code {
    private List<KuvioSampleProject.Data.Employee> employees;

    protected override void OnInitialized()
    {
        employees = EmployeeService.GetEmployees();
    }

    public void GoToAddEmployee() {
        Navigation.NavigateTo("employees/0");
    }

    private void HandleDelete(Guid id)
    {
        EmployeeService.DeleteEmployee(id);
    }
}